doctype html
html
    head
    body
       if (user)
           p hi
       else
           p start
       if (info)
           h1 #{info}
       if (!info)
           h1 no

       block content
       p sdfe